* {
    margin: 0 auto;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    width: 800px;
    padding: 50px 100px;
}

.main {
    max-width: 800px;
    width: 80%;
    text-align: center;
    
}

h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 75px;
    font-size: 75px;
}

h2 {
    font-style: italic;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    color: rgba(153, 84, 84, 0.966);
    margin-top: 10px;
    margin-bottom: 100px;

}

nav {
    position: fixed;
    top: 0;
    left: 100px;
    font-size: 11px;
    padding-right: 70%;
    padding-top: 48px;
    padding-bottom: 20px;
    background-color: white;
    margin-bottom: 300px;
    
}


.nav-title {
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    margin-right: 10px;
    color: red;
}


nav ul {
    list-style: none;
    margin-left: 0;
    
}

nav ul li {
    display: inline;
    margin-right: 3px;
    color: #464242;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: grey;
}

figure {
    margin-top: 100px;
    text-align: center;
    width: 100%;
    
}

figcaption {
    float: right;
    margin-right: 100px;
    padding-top: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
}

.form-style {
    margin-top: 100px;
    display: block;
    width: 80%;
    background-color:aliceblue;
    border-radius: 4px;
    padding: 25px 10px 50px 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}


fieldset {
    border: none;

}

h3 {
    font-size: 30px;
    margin-bottom: 15px;
}

fieldset p {
    margin-bottom: 30px;
    font-style: italic;
    font-size: 12px;
    
}


input[type=text],
input[type=email],
input[type=number] {
    width: 100%;
    height: 2rem;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    margin: 10px 0;
    padding-left: 1em;
}


input[type=submit] {
    display: flex;
    margin-top: 50px;
    padding: 10px 40px;
    text-align: center;
    border: none;
    border-radius: 4px;
    background-color:hsla(240, 65%, 48%, 0.664);
    color: white;
    
}
    

input[type=submit]:hover {
    background-color: #2b5ce2;
    color: white;
    border: none;
    border-radius: 4px;
}

footer {
    margin: 75px 0;
    float: right;
}